<%- include('layout/header') %>
    <main class="content">  
        <section class="bg-secondary py-5">
            <div class="container">
                <div class="row g-5">
                    <div class="col-sm-12 col-xl-10 col-md-8 border-end">
                        <h1 class="text-light"><%= __("WELCOME")%></h1>
                        <p class="text-light text-justify">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit.
                            Fugiat itaque placeat vel impedit libero. Dignissimos vitae ipsum eius fugit nihil harum.
                            Harum ex, dolorem sapiente repellendus earum animi laborum deleniti.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, ratione possimus esse
                            totam suscipit culpa, voluptas vitae, modi libero cumque mollitia. Minus libero, quod
                            dolores provident ratione totam ut amet.</p>
                    </div>
                    <div class="col-sm-12 col-xl-2 col-md-4 float-end">
                        <div class="float-end">
                            <img src="images/nvo-no-bg-white.svg" class="img-fluid" alt="NVO">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('layout/footer') %>