@import url("http://fonts.cdnfonts.com/css/radis-sans");

body {
  font-family: "Radis Sans", sans-serif;
}

/* ANIMATED X */
.navbar-toggler.x {
  border: none;
}
.navbar-toggler.x:focus {
  outline: none;
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navbar-toggler.x .icon-bar {
  width: 22px;
  display: block;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler.x .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggler.x .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.x .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.content {
  margin-top: 56px;
}

.text-justify {
  text-align: justify;
}

.espacement-footer {
  min-height: 75px;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length label,
  div.dataTables_wrapper div.dataTables_filter label,
  div.dataTables_wrapper div.dataTables_info label,
  div.dataTables_wrapper div.dataTables_paginate label {
    text-align: left;
    margin-top: 20px;
  }
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label,
div.dataTables_wrapper div.dataTables_info label,
div.dataTables_wrapper div.dataTables_paginate label {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}

#d#dataTable_info{
  margin-top: 3px;
}
#dataTable_paginate, #dataTable_info{
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  li.paginate_button.previous {
      display: inline;
  }

  li.paginate_button.next {
      display: inline;
  }

  li.paginate_button {
      display: none;
  }

  .dtsp-titleRow{
    text-align: left;
    min-width: 100%;
    float: left;
  }
  .dtsp-showAll, .dtsp-collapseAll, .dtsp-clearAll{
    clear: both;
    margin-top: 10px;
    text-align: left;
    width: 100%;
  }
}

div.dtsp-topRow.dtsp-bordered {
  border: none;
  border-radius: 3px;
}

div.dtsp-topRow.dtsp-bordered:hover {
  background-color:unset;
  opacity: 1;
  border: none;
  border-radius: 3px;
  cursor: pointer !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0; 
  display: inline-block;
  width: auto;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

.bootstrap-select.form-control {
  padding: 9.2px;
  border:1px solid white;
  height: auto; 
  width: auto;
}