// mon theme bootstrap

$palette: "B9AB19","585130","28243C","28243C","B9AB19";
$jaune: #ead80d;
$bleu: #28243c;
$gris: #413A61;

$body-bg: $bleu;
$body-color: $jaune;
$primary: $jaune;
$secondary: $gris;

$dropdown-link-color: $bleu;

@import "../../node_modules/bootstrap/scss/bootstrap";

.icon-bar {
  background-color: $jaune !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: $jaune;
    background-color: $bleu;
}

.dropdown-item:hover {
    color: $jaune;
    background-color: $bleu;
}