<%- include('../layout/header') %>
    <main class="content">
        <div class="container mt-3">
            <div class="p-5 bg-secondary rounded-3">
                <h1 class="display-5 fw-bold">Liste des utilisateurs</h1>
                <p class="col-md-12 fs-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero doloribus, facere sint distinctio reprehenderit, similique fuga molestiae adipisci
                    optio deserunt expedita ab veniam aperiam repellendus quia culpa possimus! Dolores, aperiam.
                </p>
                <hr>

                <form action="/action" enctype="multipart/form-data" method="POST" id="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" placeholder="Password" required>
                                <label>Password</label>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <select class="form-control" placeholder="Test" required>
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label>Select</label>

                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" placeholder="Password" required>
                                <label>Password</label>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="datepicker_input form-control" id="datepicker"
                                    placeholder="JJ/MM/AAAA" required>
                                <label>Date</label>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Submit form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('../layout/footer') %>