<footer class="mt-auto">
    <div class="container">
        <hr style="border: 1px solid #ead80d;">
        <p>© 2021 NOVEMBER'S VERY OWN
            <span class="float-end ml-3">
                <a href="/fr">Français</a>
                <a href="/en">English</a>
            </span>
        </p>
    </div>
</footer>
</body>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/script.js"></script>

</html>