
<footer class="mt-auto">
    <div class="container">
        <hr style="border: 1px solid #ead80d;">
        <p>© 2021 NOVEMBER'S VERY OWN</p>
    </div>
</footer>
</body>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/script.js"></script>
</html>