<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico" />
    <title>MON SITE - <%= titre %>
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/style.css">
</head>


<body class="d-flex flex-column min-vh-100">
    <div class="container-fluid bg-body fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand d-none d-sm-block" href="#" style="text-decoration: underline;">
                    <img src="images/nvo-no-bg.svg" width="30" height="30" class="d-inline-block align-top"
                        alt="">NOVEMBER'S VERY OWN
                </a>
                <a class="navbar-brand d-block d-sm-none" href="#" style="text-decoration: underline;">
                    <img src="images/nvo-no-bg.svg" width="30" height="30" class="d-inline-block align-top" alt="">NVO
                </a>
                <button class="navbar-toggler x" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                MON MENU DEROULANT
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Liste</a></li>
                                <li>
                                    <hr class="dropdown-divider bg-body">
                                </li>
                                <li><a class="dropdown-item" href="#">Ajouter</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">CONNEXION</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>